@font-face {
  font-family: "Imperial Script";
  src: url("../fonts/ImperialScript-Regular.eot");
  src: url("../fonts/ImperialScript-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ImperialScript-Regular.woff2") format("woff2"),
    url("../fonts/ImperialScript-Regular.woff") format("woff"),
    url("../fonts/ImperialScript-Regular.ttf") format("truetype"),
    url("../fonts/ImperialScript-Regular.svg#Imperial Script") format("svg");
}

nav {
  background-color: brown;
  width: 100%;
  height: 50px;
  /* font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal; */
  font-family: "Imperial Script";
  font-weight: Regular;
}
nav ul#meniu {
  list-style-type: circle;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul#meniu li {
  /* float: left; */
  display: inline-block;
  padding: 16px 15px;
  margin: 0px;
  background-color: #000000;
}
nav ul#meniu li:hover {
  background-color: darkred;
}
nav ul#meniu li:hover a {
  color: yellow;
}
nav ul#meniu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* nav ul#meniu li a:hover {
  color: yellow;
} */
